
[DEFAULT]
vif_plugging_is_fatal = True
vif_plugging_timeout = 300
enabled_apis = osapi_compute,metadata
transport_url = rabbit://openstack:{{ RABBIT_PASS }}@{{ openstack.controller.name }}:5672/
my_ip = {{ ansible_eth0.ipv4.address }}
use_neutron = true
firewall_driver = nova.virt.firewall.NoopFirewallDriver
cpu_allocation_ratio=100.0
ram_allocation_ratio=100.0
disk_allocation_ratio=100.0

[api]
auth_strategy = keystone

[api_database]
{% if ctrl == "1" %}
connection = mysql+pymysql://nova:{{ NOVA_DBPASS }}@{{ openstack.controller.name }}/nova_api
{% endif %}

[barbican]

[cache]

[cinder]

[compute]

[conductor]

[console]

[consoleauth]

[cors]

[database]
{% if ctrl == "1" %}
connection = mysql+pymysql://nova:{{ NOVA_DBPASS }}@{{ openstack.controller.name }}/nova
{% endif %}

[devices]

[ephemeral_storage_encryption]

[filter_scheduler]

[glance]
api_servers = https://{{ openstack.controller.name }}:9292

[guestfs]

[healthcheck]

[hyperv]

[ironic]

[key_manager]

[keystone]

[keystone_authtoken]
www_authenticate_uri = https://{{ openstack.controller.name }}:5000/
auth_url = https://{{ openstack.controller.name }}:5000/
memcached_servers = {{ openstack.controller.name }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = nova
password = {{ NOVA_PASS }}

[libvirt]
virt_type = kvm

[metrics]

[mks]

[neutron]
auth_url = https://{{ openstack.controller.name }}:5000
auth_type = password
project_domain_name = default
user_domain_name = default
region_name = RegionOne
project_name = service
username = neutron
password = {{ NEUTRON_PASS }}
service_metadata_proxy = true
metadata_proxy_shared_secret = {{ METADATA_SECRET }}

[notifications]

[osapi_v21]

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[oslo_messaging_amqp]

[oslo_messaging_kafka]

[oslo_messaging_notifications]

[oslo_messaging_rabbit]

[oslo_middleware]

[oslo_policy]

[pci]

[placement]
region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = https://{{ openstack.controller.name }}:5000/v3
username = placement
password = {{ PLACEMENT_PASS }}

[powervm]

[privsep]

[profiler]

[quota]

[rdp]

[remote_debug]

[scheduler]

[serial_console]

[service_user]

[spice]

[upgrade_levels]

[vault]

[vendordata_dynamic_auth]

[vmware]

[vnc]
enabled = true
server_listen = $my_ip
server_proxyclient_address = $my_ip
novncproxy_base_url = https://{{ openstack.controller.name }}:6080/vnc_auto.html
{% for s in openstack.services %}
{% if s.name == "nova-vnc" %}
novncproxy_host = {{ s.local_ip }}
novncproxy_port = {{ s.local_port }}
{% endif %}
{% endfor %}

[workarounds]

[wsgi]

[xenserver]

[xvp]

[zvm]
