export OS_PROJECT_DOMAIN_NAME=Default
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_NAME=demo
export OS_USERNAME=demo
export OS_PASSWORD=7889e828b8ecbdaf4580bc7798d75e3d13a10492
export OS_AUTH_URL=https://cvip.cloudrjarc.int:5000/v3
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2
export OS_CACERT=/root/rootCA.pem